/*etiqueta{
	propiedad:valor;

	tutorial Nº 10 12:03minutos;
}*/

body {
	font-family: 'Gochi Hand', cursive;
	font-size: 16px;
}

div#contenedor{
	border: 1px solid transparent;
	display: none;
	position: relative;
	width: 100%;
}
div#contenedor #slider{
	border-radius: 10px;
	border: 2px solid #8A0868;
	margin-bottom: 50px;
	margin-top: 15px;
	margin: 0 auto;
	min-height: 400px;
	width: 95%;
	position: relative;
	overflow: hidden;
	padding: 0px;
}
div#contenedor #slider div.elemento{
	left: 0px;
	position:absolute;
	top: 0px;
	width: 100%;
}
div#contenedor #slider img{
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
div#slider div.elemento p.gancho{
	color: #DF7401;
	display: block;
	font-size: 1.4em;
	font-weight: bolder;
	line-height: 25px;
	right: 1%;
	text-shadow: 2px 2px 3px white,
				-2px -2px 3px white;
	top: 5%;
	width: 29%;
	position: absolute;
}

footer{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 0.9em;
	color: #f7f7f7;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+3,8c3310+25,8c3310+33,d2dd5a+36,490900+50,d2dd5a+63,490900+65,490900+71,d2dd5a+74,490900+75,d2dd5a+90,d2dd5a+92,d2dd5a+92 */
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 3%, rgba(140,51,16,1) 25%, rgba(140,51,16,1) 33%, rgba(210,221,90,1) 36%, rgba(73,9,0,1) 50%, rgba(210,221,90,1) 63%, rgba(73,9,0,1) 65%, rgba(73,9,0,1) 71%, rgba(210,221,90,1) 74%, rgba(73,9,0,1) 75%, rgba(210,221,90,1) 90%, rgba(210,221,90,1) 92%, rgba(210,221,90,1) 92%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(240,183,161,1)), color-stop(3%,rgba(140,51,16,1)), color-stop(25%,rgba(140,51,16,1)), color-stop(33%,rgba(140,51,16,1)), color-stop(36%,rgba(210,221,90,1)), color-stop(50%,rgba(73,9,0,1)), color-stop(63%,rgba(210,221,90,1)), color-stop(65%,rgba(73,9,0,1)), color-stop(71%,rgba(73,9,0,1)), color-stop(74%,rgba(210,221,90,1)), color-stop(75%,rgba(73,9,0,1)), color-stop(90%,rgba(210,221,90,1)), color-stop(92%,rgba(210,221,90,1)), color-stop(92%,rgba(210,221,90,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 3%,rgba(140,51,16,1) 25%,rgba(140,51,16,1) 33%,rgba(210,221,90,1) 36%,rgba(73,9,0,1) 50%,rgba(210,221,90,1) 63%,rgba(73,9,0,1) 65%,rgba(73,9,0,1) 71%,rgba(210,221,90,1) 74%,rgba(73,9,0,1) 75%,rgba(210,221,90,1) 90%,rgba(210,221,90,1) 92%,rgba(210,221,90,1) 92%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 3%,rgba(140,51,16,1) 25%,rgba(140,51,16,1) 33%,rgba(210,221,90,1) 36%,rgba(73,9,0,1) 50%,rgba(210,221,90,1) 63%,rgba(73,9,0,1) 65%,rgba(73,9,0,1) 71%,rgba(210,221,90,1) 74%,rgba(73,9,0,1) 75%,rgba(210,221,90,1) 90%,rgba(210,221,90,1) 92%,rgba(210,221,90,1) 92%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 3%,rgba(140,51,16,1) 25%,rgba(140,51,16,1) 33%,rgba(210,221,90,1) 36%,rgba(73,9,0,1) 50%,rgba(210,221,90,1) 63%,rgba(73,9,0,1) 65%,rgba(73,9,0,1) 71%,rgba(210,221,90,1) 74%,rgba(73,9,0,1) 75%,rgba(210,221,90,1) 90%,rgba(210,221,90,1) 92%,rgba(210,221,90,1) 92%); /* IE10+ */
background: linear-gradient(135deg,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 3%,rgba(140,51,16,1) 25%,rgba(140,51,16,1) 33%,rgba(210,221,90,1) 36%,rgba(73,9,0,1) 50%,rgba(210,221,90,1) 63%,rgba(73,9,0,1) 65%,rgba(73,9,0,1) 71%,rgba(210,221,90,1) 74%,rgba(73,9,0,1) 75%,rgba(210,221,90,1) 90%,rgba(210,221,90,1) 92%,rgba(210,221,90,1) 92%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#d2dd5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer span:after{
	content: " ---";
}
footer span:before{
	content: "--- ";
}

header {
	/*Establecemos un color de fondo*/
	background-color: #604214;
	/*Hacemos que el texto se aline hacia la derecha*/
	text-align: right;
}
header figure {
	/*Que la figura flote hacia la izquierda*/
	float: left;
	/*Que tenga un margen- que no este tan pegado a la pagina*/
	margin-left: 100px;
}

header figure img {
	border-radius: 50%;
	/*Le cambiamos el ancho y el alto de la imagen*/
	height: 60px;
	width: 60px;
}
header h1 {
	color: #f7f7f7;
	display: block;
	float: left;
	font-size: 1.6em;
	margin:7px 80px 0px 50px;
	padding: 0px;
}

header nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	height: 35px;
	margin-top: 10px;
	width: 100%;
}

header nav ul li a {
	color: #f7f7f7;
	font-weight: bold;
	padding: 15px 25px;
	/*Le saca lo subrayado*/
	text-decoration: none;
}

section{
	margin-top: 50px;
	/*Sirve para poner una imagen de fondo-- tener en cuenta los 2 puntos si mi estilo esta en otra carpeta*/
	background: url(../imagenes/fondo.jpg);
}

section article.receta{
	/*Es el borde del article*/
	border-width: 2px;
	/*Este especifica el estilo*/
	border-style: solid;
	/*Hace que aumente o achique el tamaño segun de donde lo habramos*/
	display: inline-block;
	/*Lo que hace es que se alinie desde la parte de arriba*/
	vertical-align: top;
	position: relative;
	border-radius: 0px 0px 15px 15px;
	margin: 50px 0px 20px 10%;
	width: 85%;
	font-size: 1.2em;

	/*Sobras en los article*/
	box-shadow: 0px 0px 15px #f7f7f7;
}

section article.receta figure{
	float: left;
	margin-top: -50px;
	margin-left: -30px;
}

section article.receta figure img{
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	width: 180px;
	height: 140px;
	transition-duration: 0.5s;
	/*Es el prefijo que hace que q se lea para todos los navegadores*/
	/*Consultar en pagina: http://caniuse.com/#search=scale*/
	-webkit-transition-duration: 0.5s;
}

section article.receta figure img:hover{
	-webkit-animation: 2s balanceo 1;

	/*Cambia el cursor a manito*/
	cursor: pointer;
	/*Hace que la imagen sea transparente
	opacity: 0.8;*/
	/*Agranda y achica la imagen
	transform: scale(1.5);*/
	/* Hace girar la imagen
	transform: rotate(360deg);*/
	/*La deforma
	transform: skew(30deg);*/
	/*Es el prefijo que hace que q se lea para todos los navegadores*/
	/*Consultar en pagina: http://caniuse.com/#search=scale
	-webkit-transform: skew(30deg);*/

	/*
		Prefijos de navegadores:

		-moz- firefox
		-ms- internet explorer
		-o- opera
		-webkit- chrome/android

	*/
}

@-webkit-keyframes balanceo{
	20%{
		-webkit-transform: scale(0.8) rotate(-6deg);
	}
	30%, 70%{
		-webkit-transform: scale(1.3) rotate(16deg);
	}
	50%, 90%{
		-webkit-transform: scale(1.3) rotate(-16deg);
	}

}
section article.receta div{
	width: 90%;
	margin: 30px 4% 10px 5%;
	border-width: 2px;
	border-style: solid;
	position: relative;
	padding-top: 20px;
	font-size: 0.9em;
	border-radius: 15px;
}

section article.receta div span{
	position: absolute;
	top: -15px;
	left: 10px;
	line-height: 20px;
	border-radius: 15px;
	/*Subrayar el texto*/
	text-decoration: underline;
	background-color: white;
	padding: 3px 10px;
}

section article.receta div ul{
	/*Le saca los puntos de la lista .yogurt,etc*/
	list-style: none;
	margin: 0px;
	padding: 0px;
}

section article.receta div ul li{
	/*Ponemos la letra en negrita*/
	font-weight: bolder;
	/*Ocupa la metad de la linea*/
	vertical-align: middle;
	display: inline-block;
	margin: 5px 3%;
	width: 26%;
}

section article.receta h2{
	padding: 0px;
	text-align: right;
	margin: 20px 60px 0px 165px;
	font-size: 1.2em;
	text-shadow: 2px 2px 2px black;
}
section article.receta h2:hover{ 
	font-style: italic;
	color: white;
	cursor: pointer;
	text-shadow: 5px 5px 2px green;

}
section article.receta p{
	font-size: 0.8em;
	/*Ocupa todo el ancho*/
	text-align: justify;
	margin: 15px 10px 5px 30px;

}

section article.receta span.tipo{
	/*Con position absolute puedo ubicarlo donde yo quiera*/
	position: absolute;
	border-width: 2px;
	border-style: solid;
	top: -38px;
	right: -2px;
	height: 30px;
	line-height: 30px;
	padding: 2px 10px;
	border-radius: 15px 15px 0px 0px;
	font-weight: bolder;
	color: #f7f7f7;
}

	/*****************************************************************************************/
	/**************************       COLORES DEL DESAYUNO       *****************************/
	/*****************************************************************************************/

	section article.desayuno,
	section article.desayuno figure img,
	section article.desayuno div,
	section article.desayuno span.tipo{

		border-color: #082E0B;
	}

	section article.desayuno h2{
		color: #154419;
	}

	section article.desayuno span.tipo,
	section article.desayuno div,
	section article.desayuno div span{
		background-color: #154419;
	}

	section article.desayuno p{
		color: #3E7242;
	}

	section article.desayuno{
		background-color: #C0EE90;
	}

	section article.desayuno div span,
	section article.desayuno div ul li{
		color: #9CD95C;
	}


	/*****************************************************************************************/
	/**************************       COLORES DEL PESCADO       *****************************/
	/*****************************************************************************************/

	section article.pescado,
	section article.pescado figure img,
	section article.pescado div,
	section article.pescado span.tipo{

		border-color: #020F2B;
	}

	section article.pescado h2{
		color: #08215B;
	}

	section article.pescado span.tipo,
	section article.pescado div,
	section article.pescado div span{
		background-color: #08215B;
	}

	section article.pescado p{
		color: #335093;
	}

	section article.pescado{
		background-color: #ADE0F0;
	}

	section article.pescado div span,
	section article.pescado div ul li{
		color: #9DB7F5;
	}

	/*****************************************************************************************/
	/**************************       COLORES DEL POSTRE       *****************************/
	/*****************************************************************************************/

	section article.postre,
	section article.postre figure img,
	section article.postre div,
	section article.postre span.tipo{

		border-color: #1B0C02;
	}

	section article.postre h2{
		color: #5A3107;
	}

	section article.postre span.tipo,
	section article.postre div,
	section article.postre div span{
		background-color: #5A3107;
	}

	section article.postre p{
		color: #97521E;
	}

	section article.postre{
		background-color: #B29178;
	}

	section article.postre div span,
	section article.postre div ul li{
		color: #F5CBA2;
	}

	section div.news{
		width: 30%;
		background-color: white;
		border: 1px solid black;
		border-radius: 10px;
		margin-right: 20px;
		float: right;
		/*Marca la distancia en el borde de abajo*/
		padding-bottom: 20px;
		display: none;
		position: relative;
	}

	section div.news:before{

				content: "";
		position: absolute;
		bottom: -93px;
		width: 103px;
		height: 0px;

		border-color: white transparent
						transparent transparent;

		border-style: solid;
		border-width: 100px 100px 0px 100px;
		
	}

	section div.news h2{
		text-align: center;
	}

	section div.news article.post{
		width: 95%;
		margin-left: 2%;
		margin-top: 15px;
		border-top: 2px solid #440a4e;
	}

	section div.news figure{
		float: left;
		margin-top: 10px;
	}

	section div.news figure img{
		width: 40px;
	}

	section div.news p{
		font-style: italic;
		font-size: 0.8em;
		text-align: justify;
		margin: 5px 5% 20px 5%;
	}

	section div.news video{
		width: 90%;
		margin: 0px 5%;
	}

@media screen and (min-width: 480px){
	header nav ul li{
        width: 22%;
}

@media screen and (min-width: 767px){
	header nav ul li{
		width: 8%;
	}

	div#contenedor{
		display: inline;
	}

	section article.receta{
		margin: 50px 3% 20px 6%;
		width: 40%;
	}

	section div.news{
		display: inline;
	}

}

@media screen and (min-width: 950px){
	section article.receta{
			margin: 50px 1% 20px 5%;
			width: 26%;
	}
}
